{% extends 'base.html' %}
{% load staticfiles widget_tweaks %}
{% block title %}Вход · Моя наличка{% endblock %}

{% block css %}
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  <form class="form-signin" method="post", action="">
    {% csrf_token %}
    <h2 class="form-signin-heading">Вход</h2>
    {% include 'macro/text-field.html' with field=form.username|add_class:'input-block-level' placeholder='placeholder:Логин' %}
    {% include 'macro/text-field.html' with field=form.password|add_class:'input-block-level' placeholder='placeholder:Пароль' %}
    <button type="submit" class="btn btn-large btn-primary">Войти</button>
    <a href="{% url 'registration' %}" style="margin-top:12px;" class="pull-right">Регистрация</a>
  </form>
</div> <!-- /container -->

{% endblock %} 