{% load widget_tweaks %}
 
{% if field.errors %}
  <ul class="error-list">
  {% for error in field.errors %}
    <li>{{ error }}</li>
  </ul>
  {% endfor %}
{% endif %}
<label class="control-label">{{ field.label }}</label>
{% for radio in field|attr:'name:optionsRafios' %}<label class="radio inline">{{ radio }}</label>{% endfor %}
 