{% load widget_tweaks %}

{% if field.errors %}
  <ul class="error-list">
  {% for error in field.errors %}
    <li>{{ error }}</li>
  </ul>
  {% endfor %}
{% endif %}
{% if placeholder %}
  {{ field|attr:placeholder|add_error_class:'error' }}            
{% else %}
  {{ field|add_error_class:'error' }}                      
{% endif %}
 