{% extends 'base.html' %}
{% load widget_tweaks staticfiles %}

{% block css %}
<link href="{% static 'css/bootstrap-responsive.css'%}" rel="stylesheet">
<link href="{% static 'css/datepicker.css' %}" rel="stylesheet" media="screen">
<style>
.datepicker{z-index:1501;}
i:hover.the-icons {
    background-color: rgba(255, 0, 0, 0.25);
    cursor: pointer;
}
.tag-filter {
    cursor: pointer;
}
</style>
{% endblock %}
{% block js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jsapi' %}"></script>
{% endblock %}

{% block title %}Моя наличка{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <p class="lead text-center">Моя&nbsp;наличка&nbsp;(<span id="balans-color" class="text-{{ user.get_balans_css }}"><span id="balans-display">{{ user.get_balans_display }}</span>&nbsp;{{ user.get_currency_display }}</span>)</p>
    </div>
    <div class="row-fluid">
        <div class="span12 white-well">
            <div class="span4">
                <button class="btn btn-primary" type="button" href="#AddItemModal" role="button" data-toggle="modal">Добавить</button>
            </div>
            <div class="span8">
                <p class="pull-right">
                    Добро пожаловать,&nbsp;<strong>{{ user.username }}</strong>&nbsp;|&nbsp;<a href="{% url 'logout' %}">Выйти</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
          <div class="span12 white-well">
            <p>Фильтр:</p>
            <div class="filter-list" id="filter-list" current="{{ now_date|first }}/{{ now_date|last }}/"/>
            <ul class="unstyled">
                <li><a class="filter" href="#" url="">Все</a></li>
                <li><a class="filter" href="#" url="{{ now_date|first }}/{{ now_date|last }}/">Текущий</a></li>
                <li><a class="filter" href="#" url="{{ last_date|first }}/{{ last_date|last }}/">Прошлый</a></li>
                <li>
                    <input type="hidden" id="dp2field">
                    <a id="dp2" data-date="02.2012" href="#">Указать&nbsp;дату</a>
                </li>
            </ul>
            </div>
          </div>
          <div id="tags-display" class="span12 white-well" style="display: none;">
              <p>Теги:</p>
              <div id="tags-list" current="_all"></div>
          </div>
        </div>
        <div class="span10">
            <div id="transactions">Идет загрузка. Пожалуйста подождите.</div>
        </div>
    </div>
</div>
<!-- Social Modal -->
<div id="AddItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddItemModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="AddItemModalLabel">Добавить <span class="text-error">расход</span>/<span class="text-success">доход</span></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="{% url 'cash:transaction_add' %}" id="add-form" method="get">
            {% csrf_token %}
            <ul id="add-form-error" class="error-list text-center" generated="true">
            </ul>
            <div class="control-group">
                <label class="control-label" for="value">{{ form.value.label }}</label>
                <div class="controls">
                  {% include 'macro/text-field.html' with field=form.value placeholder='placeholder:Например: -500 или 300' %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date">{{ form.date.label }}</label>
                <div class="controls">
                    <div data-date-format="dd.mm.yyyy" data-date="29.02.2012" id="dp1" class="input-append date">
                        {% include 'macro/text-field.html' with field=form.date|attr:'id:date'|attr:'name:date'|attr:'value:29.02.2013'|attr:'size:16' %}
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="tags">{{ form.tags.label }}</label>
                <div class="controls">
                  {% include 'macro/text-field.html' with field=form.tags placeholder='placeholder:Например: магазин, продукты' %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="note">{{ form.note.label }}</label>
                <div class="controls">
                    {% include 'macro/textarea-field.html' with field=form.note|attr:'rows:5' %}
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <input type="submit" value="Добавить" class="btn btn-primary">
        </form>
    </div>
</div>

<!-- EditItemModal -->
<div id="EditItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="EditItemModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="EditItemModalLabel">Редактировать <span class="text-error">расход</span>/<span class="text-success">доход</span></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="{% url 'cash:transaction_edit' %}" id="edit-form" method="get">
            {% csrf_token %}
            <input type="hidden" id="edit_id" name="id" value="">
            <ul id="edit-form-error" class="error-list text-center" generated="true">
            </ul>
            <div class="control-group">
                <label class="control-label" for="edit_value" class="error" generated="true">{{ form.value.label }}</label>
                <div class="controls">
                    {% include 'macro/text-field.html' with field=form.value|attr:'id:edit_value'|attr:'name:edit_value' placeholder='placeholder:Например: -500 или 300' %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="edit_date">{{ form.date.label }}</label>
                <div class="controls">
                    <div data-date-format="dd.mm.yyyy" data-date="12.02.2012" id="dp3" class="input-append date">
                        {% include 'macro/text-field.html' with field=form.date|attr:'id:edit_date'|attr:'name:edit_date'|attr:'value:29.02.2013'|attr:'size:16' %}
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="edit_tags">{{ form.tags.label }}</label>
                <div class="controls">
                  {% include 'macro/text-field.html' with field=form.tags|attr:'id:edit_tags'|attr:'name:edit_tags' placeholder='placeholder:Например: магазин, продукты' %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="edit_note">{{ form.note.label }}</label>
                <div class="controls">
                    {% include 'macro/textarea-field.html' with field=form.note|attr:'id:edit_note'|attr:'name:edit_note'|attr:'rows:5' %}
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" id="del-item-button" transaction-delete-item="">Удалить</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <input type="submit" value="Изменить" class="btn btn-primary">
        </form>
    </div>
</div>
<script type="text/javascript">
google.load("visualization", "1", {packages :["corechart"]});



function get_values_from_row(button) {
    var id = $(button).attr("transaction-item-id");
    $('#edit_id').val(id);
    $('#edit_value').val($('#transaction-value-'+id+' span').text());
    $('#edit_tags').val($('#transaction-tags-'+id).text());
    $('#edit_note').val($('#transaction-note-'+id).text());
    $('#dp3').datepicker({date: $('#transaction-date-'+id).text()});
    $('#dp3').datepicker('update');
    $('#dp3').datepicker().children('input').val($('#transaction-date-'+id).text());
    $('#del-item-button').attr('transaction-delete-item',id);
};
function set_balans(_css, balans) {
    $('#balans-display').html(balans);
    $('#balans-color').removeClass();
    $('#balans-color').addClass('text-'+_css);
}

function load_transactions() {
    $("#transactions").html("Идет загрузка. Пожалуйста подождите.");
}

function load_tags() {
    $('#tags-display').css({'display': 'none'});
    $('#tags-list').html('');
}

function set_transactions(url_postfix){
    $('#filter-list').attr('current', url_postfix);
    $.ajax({
       type: "GET",
       url: '/cash/transaction/' + url_postfix,
       data: 'tag=' + $('#tags-list').attr('current'),
       success: function(data){
           $("#transactions").html(data);     
       } 
    });   
}

function set_tags(url_postfix) {
    $.ajax({
       type: "GET",
       url: '/cash/tag/' + url_postfix,
       success: function(data){
           if (!!data) {
               $('#tags-display').css({'display': 'block'});
               $('#tags-list').html(data);
           } 
       } 
    });   
}

function filter_tag(tag) {
    $('#tags-list').attr('current', tag);
    var date = $('#filter-list').attr('current')
    if (date == "_all") {
        var chart_display = $(document.getElementById('chart-'+date)).attr('display');    
    } else {
        var chart_display = "off"
    } 
    load_transactions();
    set_transactions(date);
    if (chart_display == "on") {
        set_chart(date);
    }
}

function drawChart(date, json) {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Day');
    data.addColumn('number', 'Month balans');
    data.addColumn({type: 'boolean', role: 'emphasis'});        
    data.addRows(json);
    var options = {
        title: 'Month transactions',
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart-'+date));
    chart.draw(data, options);
}

function set_chart(date) {
    var el = $(document.getElementById('chart-'+date));
    if (el.attr("display") == "on") {
        el.attr("display", "off");
        el.css({'display': 'none'});
        return false;
    }
    $.ajax({
       type: "GET",
       url: '/cash/chart/' + date,
       data: 'tag=' + $('#tags-list').attr('current'),
       success: function(json){
           drawChart(date, json);
           el.attr("display", "on");
           el.css({'display': 'block'});        
       } 
    });       
}

    load_transactions();
    load_tags();
    set_transactions("{{ now_date|first }}/{{ now_date|last }}/");
    set_tags("{{ now_date|first }}/{{ now_date|last }}/");

    $(".filter").click(function(){
        $('#tags-list').attr('current', '_all');
        load_transactions();
        load_tags();
        set_transactions($(this).attr('url'));
        set_tags($(this).attr('url'));
    });


    $('#add-form').submit(function() {
        if($(this).valid() == false){
            return false; 
        }       
        $('#tags-list').attr('current', '_all');
        load_transactions();
        load_tags();
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            success: function(json){
               set_balans(json.balans_css, json.balans);
               set_transactions(json.url);    
               set_tags(json.url);                  
             }
        });
        $('#AddItemModal').modal('hide');
        return false;
    });

    $('#edit-form').submit(function() {
        if($(this).valid() == false){
            return false; 
        }       
        $('#tags-list').attr('current', '_all');
        load_transactions();
        load_tags();
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            success: function(json){
               set_balans(json.balans_css, json.balans);
               set_transactions(json.url);                      
               set_tags(json.url);
             }
        });
        $('#EditItemModal').modal('hide');
        return false;
    });

    $('#del-item-button').click(function() {
        $('#tags-list').attr('current', '_all');
        load_transactions();
        load_tags();
        $.ajax({
            type: "GET",
            url: "{% url 'cash:transaction_del' %}",
            data: "id="+$(this).attr('transaction-delete-item'),
            success: function(json){
               set_balans(json.balans_css, json.balans);
               set_transactions(json.url);                      
               set_tags(json.url);
             }
        });
        $('#EditItemModal').modal('hide');
        return false;
    });
 
    //формируем текущую дату в календаре
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var output_date = (day<10 ? '0' : '') + day+ '.' +
    (month<10 ? '0' : '') + month + '.' +  
    d.getFullYear();

    $('#dp1').attr('data-date',output_date);
    $('#dp1 input').val(output_date);
    $('#dp1').datepicker().on('changeDate', function(ev){
        $('#dp1').datepicker('hide');
    });

    $('#dp3').attr('data-date',output_date);
    $('#dp3 input').val(output_date);
    $('#dp3').datepicker().on('changeDate', function(ev){
        $('#dp3').datepicker('hide');
    });

    output_date = (month<10 ? '0' : '') + month + '.' +
    d.getFullYear();

    $('#dp2').attr('data-date',output_date);
    $('#dp2').datepicker({
            format: "mm.yyyy",
            viewMode: "months", 
            minViewMode: "months"
        }).on('changeDate', function(ev){
            $('#dp2').text($('#dp2').data('date'));
            $('#dp2field').val($('#dp2').data('date'));
            var d = $('#dp2').data('date')
            load_transactions();
            load_tags();
            set_transactions(d[0] + d[1] + '/' + d[3] + d[4] + d[5] + d[6] + '/');
            set_tags(d[0] + d[1] + '/' + d[3] + d[4] + d[5] + d[6] + '/');
            $('#dp2').datepicker('hide');
    });

    $.validator.addMethod(
        "australianDate",
        function(value, element) {
            return value.match(/^\d\d?\.\d\d?\.\d\d\d\d$/);
        },
        "Пожалуйста, введите дату вида dd.mm.yyyy."
    );

    $.validator.addMethod(
        "positiveNumber",
        function(value, element) {
            return value.match(/^[-+]?[0-9]*\.?[0-9]+$/);
        },
        "Пожалуйста, вводите только цыфры."
    );

    $.validator.addMethod(
        "countTags",
        function(value, element) {
            if (value.split(',').length > 5) {
                return false;
            } else {
                return true;
            }
        },
        "Пожалуйста, вводите не более 5 тегов."
    );
    
    $('#add-form').validate({
        errorPlacement: function(error, element) {
            error.appendTo("#add-form-error");
        },
        wrapper: "li ",
        rules: {
            value: {
                required: true,
                positiveNumber: true
            },
            date: {
                required: true,
                australianDate: true
            },
            tags: {
                required: true,
                countTags: true
            }
        },
        messages: {
            value: {
                required: "Поле сумма обязательна для заполнения.",
                positiveNumber: "Пожалуйста, вводите только цыфры."
            },
            date: {
                required: "Поле дата обязательно для заполнения.",
                australianDate: "Пожалуйста, введите дату вида dd.mm.yyyy."
            },
            tags: {
                required: "Поле теги обязательно для заполнения.",            
                countTags: "Пожалуйста, вводите не более 5 тегов."

            }
        }
    });

    $('#edit-form').validate({
        errorPlacement: function(error, element) {
            error.appendTo("#edit-form-error");
        },
        wrapper: "li ",
        rules: {
            edit_value: {
                required: true,
                positiveNumber: true
            },
            edit_date: {
                required: true,
                australianDate: true
            },
            edit_tags: {
                required: true,
                countTags: true
            }
        },
        messages: {
            edit_value: {
                required: "Поле сумма обязательна для заполнения.",
                positiveNumber: "Пожалуйста, вводите только цыфры."
            },
            edit_date: {
                required: "Поле дата обязательно для заполнения.",
                australianDate: "Пожалуйста, введите дату вида dd.mm.yyyy."
            },
            edit_tags: {
                required: "Поле теги обязательно для заполнения.",            
                countTags: "Пожалуйста, вводите не более 5 тегов."

            }
        }
    });

</script>
{% endblock %}